.gradient-custom {
    background: #1a2e37;
    
    }

.loginClass {
    background-color: rgba(255, 255, 255, 0.002);
    border: .1vh solid rgba(0, 0, 0, 0.32);
    box-shadow: 0 0 17px 9px rgba(0, 0, 0, 0.1);
}